@use "@/app/variables" as *;

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/jetbrains-mono/JetBrainsMono-Bold.ttf"),
  url("fonts/jetbrains-mono/JetBrainsMono-BoldItalic.ttf"),
  url("fonts/jetbrains-mono/JetBrainsMono-Italic-VariableFont_wght.ttf"),
  url("fonts/jetbrains-mono/JetBrainsMono-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, button, a, li, div, label, ::placeholder, input {
  font-size: 18px;
  font-family: "JetBrains Mono";
}



body {
  background-color: $very-dark-grey;
}
